@font-face {
    font-family: "norsebold";
    src: url("fonts/Norse-Bold.otf") format("opentype");
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;

}

body, .branding_section, .banner_content {
    display: flex;
}

.branding_section {
    position: absolute;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.banner_content, .odin_logo {
    height: 5rem;
}

.banner_content > span {
    display: flex;
    font-size: 3rem;
    color: white;
    font-family: "norsebold";
    align-items: center;
}

.background_image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.dark_banner {
    position: absolute;
    top: 30%;
    background-color: black;
    height: 5.5rem;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}

.banner_content {
    position: relative;
    top: 31%;
    z-index: 0;
    justify-content: center;
    gap: 10px;
}

.credits_sections {
    position: relative;
    top: 85%;
    font-size: 0.8rem;
    color: white;
    text-align: center;
    opacity: 0.7;
}

.form_section {
    position: absolute;
    left: 40%;
    width: 60%;
    height: 100%;

}

.title_section, .form_input_section, .submit_section {
    position: relative;
    box-sizing: border-box;
    padding-left: 7%;

}

.title_section, .submit_section {
    height: 34%;
    background-color: rgb(249,250,251);
}

.form_input_section {
    height: 32%;
    background-color: rgb(255,255,255);
    box-shadow: 0px 0px 1px 0px black;
    z-index: 1;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
    width: 90%;
    margin-top: 1rem;
}

form > p {
    margin-bottom: 1rem;
    margin-right: 20%;
}

p {
    margin: 0px;
}

div > p {
    padding-top: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

p > label {
    display: block;
    margin-bottom: 2px;
    font-size: 0.7rem;
    font-weight: bold;
}

.title_text {
    position: relative;
    top:35%;
    width: 80%;
}

input {
    width: 200px;
    border: 1px solid lightgray;
    border-radius: 2px;
}

input:focus {
    border: 1px solid blue;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px black;
}

input[type="password"]:invalid {
    border: 1px solid red;
    border-radius: 2px;
}

button[type="submit"] {
    width: 180px;
    height: 2.5rem;
    font-size: 0.9rem;
    background-color: #596D48;
    color: white;
    font-weight: 600;
    border: 0px solid #596D48;
    border-radius: 7px;
    box-shadow: 1px 1px 2px 0px black;
}

.submit_content_container {
    position: relative;
    top: 10%;
}

.submit_content_container > p {
    font-size: 0.8rem;
    font-weight: 500;
}

.submit_content_container > p > a {
    color: #596D48;
}